body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.document-editor {
    border: 1px solid var(--ck-color-base-border);
    border-radius: var(--ck-border-radius);

    /* Set vertical boundaries for the document editor. */
    max-height: 700px;

    /* This element is a flex container for easier rendering. */
    display: flex;
    flex-flow: column nowrap;
}

.document-editor__editable-container {
    padding: calc( 2 * var(--ck-spacing-large) );
    background: var(--ck-color-base-foreground);

    /* Make it possible to scroll the "page" of the edited content. */
    overflow-y: scroll;
}

.document-editor__editable-container .ck-editor__editable {
    /* Set the dimensions of the "page". */
    width: 15.8cm;
    min-height: 21cm;

    /* Keep the "page" off the boundaries of the container. */
    padding: 1cm 2cm 2cm;

    border: 1px hsl( 0,0%,82.7% ) solid;
    border-radius: var(--ck-border-radius);
    background: white;

    /* The "page" should cast a slight shadow (3D illusion). */
    box-shadow: 0 0 5px hsla( 0,0%,0%,.1 );

    /* Center the "page". */
    margin: 0 auto;
}
:root{
    --bg-black: #363535;
}
header, .second_tab{
    width: 100vw;
    background-color: var(--bg-black);
    display: flex;
}
button{
    border: none;
    color: white;
    background-color: transparent;
    width: 2rem;
    cursor: pointer;
}
button:hover{
    background-color: #a1a1a1;
}
.transfer{
    width: 10vw;
    display: grid;
    grid-template-columns: auto auto auto;
}
#paste{
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
}
.font{
    display: grid;
    grid-template-columns:  3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
    width: 20vw;
}
#font_family{
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
}
#font_size{
    grid-column: 6 / span 10;
    grid-row: 1 / span 1;
}
#bold{
    grid-row: 2 / span 4;
    grid-column: 1 / span 2;
    font-weight: 800;
}
#italic{
    grid-column: 2 / span 3;
    grid-row: 2 / span 4 ;
}
#underline{
    grid-column: 3 / span 4;
    grid-row: 2 / span 4;
}
#strikethrough{
    grid-column: 4 / span 5;
    grid-row: 2 / span 4;
}
#subscribed{
    grid-column: 5 / span 6;
    grid-row: 2 / span 4;
}
#overwritten{
    grid-column: 6 / span 7;
    grid-row: 2 / span 4;
}
#bg_color{
    grid-column: 7 / span 8;
    grid-row: 2 / span 4;
}
#font_color{
    grid-column: 9 / span 10;
    grid-row: 2 / span 4;
}